@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Poppins:wght@300;400&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* font-family: 'Playfair Display', serif;
font-family: 'Poppins', sans-serif; */

/* navbar */

.navbar{
  font-family:'Poppins', sans-serif;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  box-shadow: 0 8px 6px -6px gray;
  --webkit-box-shadow: 0 8px 6px -6xp gray;
  border-bottom: solid gray !important;
}

.nav-link{
  font-weight: 300!important;
}

.active {
  border-bottom: 2px solid black;
}

.navbar-brand {
  font-weight: 700;
  font-family: 'roboto', sans-serif;
  letter-spacing: 3px;
}

/*Footer*/

.footer {
  color: white;
  padding: 25px;
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #434343, #000000);
}

.footer a {
  text-decoration: none;
  color: white;
  padding: 10px;
}

.footer a:hover {
  color: #ffefba;
  border-bottom: 1px solid #ffefba;
}

/*  page not found css */
.pnf {
  display: flex;
  min-height: 65vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.pnf-title {
  font-size: 100px;
  font-weight: 700;
}

.pnf-heading {
  font-weight: normal;
}

.pnf-btn {
  color: black;
  border: 1px solid black;
  text-decoration: none;
  padding: 10px;
  margin-top: 10px;
}
.pnf-btn:hover {
  background-color: black;
  color: white;
}
/* contact us */
.contactus {
  margin: 0;
  padding: 0;
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* regusters */
.register {
 display: flex;
 align-items: center;
 justify-content: center;
 height: 70vh;
 flex-direction: column ;
}

.product-card {
  /* Estilo por defecto para la tarjeta del producto */
}

.product-card:hover .btn-primary {
  /* Estilo para el botón "More Details" cuando se hace hover en la tarjeta */
  display: block;
}

.btn-more-primary {
  /* Oculta el botón "More Details" por defecto */
  display: none;
}


.product-image-container {
  position: relative;
}

.add-to-cart-button {
  position: absolute;
  bottom: 10px; /* Ajusta la posición vertical según tus preferencias */
  right: 10px; /* Ajusta la posición horizontal según tus preferencias */
  background: transparent;
  border: none;
  color: #031e39; /* Cambia el color según tus preferencias */
  font-size: 24px; /* Ajusta el tamaño del icono según tus preferencias */
  cursor: pointer;
  padding: 0;
}

.circle-background {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px; /* Diámetro del círculo */
  height: 40px; /* Diámetro del círculo */
  background: white; /* Color de fondo blanco */
  border-radius: 50%; /* Estilo de círculo */
  transition: box-shadow 0.3s; /* Agrega una transición suave a la sombra */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3); /* Sombra suave */
}

.circle-background:hover {
  background: black; /* Cambia el color de fondo a negro al pasar el cursor */
  color: rgb(200, 194, 194); /* Cambia el color del texto a blanco al pasar el cursor */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Incrementa la sombra al pasar el cursor */

}

